@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  font-size: null;
}
@-ms-viewport {
  width: device-width;
}
body {
  margin: 0;
  font-family: "Noto Sans Japanese", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}
[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}
hr {
  margin: 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: .25;
}
hr:not([size]) {
  height: 1px;
}
h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0 0;
}
p {
  margin: 1rem 0 0;
}
abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  cursor: help;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
address {
  margin: 1rem 0 0;
  font-style: normal;
  line-height: inherit;
}
ol,
ul,
dl {
  margin: 1rem 0 0;
}
ol ol,
ul ul,
ol ul,
ul ol {
  margin: 0;
}
dt {
  font-weight: normal;
}
dd {
  margin: 1rem 0 0;
}
blockquote {
  margin: 1rem 0 0;
}
b,
strong {
  font-weight: bolder;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: .75em;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -.25em;
}
sup {
  top: -.5em;
}
a {
  color: #0275d8;
  text-decoration: none;
}
a:hover, a:focus {
  color: #5bc0de;
  text-decoration: underline;
}
a:not([href]), a:not([href]):hover {
  color: inherit;
  text-decoration: none;
}
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
pre {
  display: block;
  margin: 1rem 0 0;
  overflow: auto;
  font-size: .875em;
}
pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}
code {
  font-size: .875em;
  color: #d63384;
  word-wrap: break-word;
}
a > code {
  color: inherit;
}
kbd {
  padding: .2rem .4rem;
  font-size: .875em;
  color: #fff;
  border-radius: .2rem;
}
kbd kbd {
  padding: 0;
  font-size: 1em;
  font-weight: 700;
}
figure {
  margin: 1rem 0 0;
}
img {
  vertical-align: middle;
}
svg {
  overflow: hidden;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
}
caption {
  text-align: left;
  caption-side: bottom;
}
th {
  text-align: inherit;
}
label {
  display: inline-block;
}
button {
  border-radius: 0;
}
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
select {
  word-wrap: normal;
}
[list]::-webkit-calendar-picker-indicator {
  display: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}
button::-moz-focus-inner,
::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}
textarea {
  overflow: auto;
  resize: vertical;
}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  float: left;
  width: 100%;
  padding: 0;
  margin: 1rem 0 0;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}
mark {
  padding: .2em;
  background-color: #fcf8e3;
}
progress {
  vertical-align: baseline;
}
::-webkit-datetime-edit {
  overflow: visible;
  line-height: 0;
}
[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-color-swatch-wrapper {
  padding: 0;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
output {
  display: inline-block;
}
summary {
  display: list-item;
  cursor: pointer;
}
template {
  display: none;
}
main {
  display: block;
}
[hidden] {
  display: none !important;
}
/* ==================================================
   フォーム
 ================================================== */
.form-control {
  display: block;
  width: 100%;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.form-control::-webkit-input-placeholder {
  color: #868e96;
  opacity: 1;
}
.form-control::-moz-placeholder {
  color: #868e96;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #868e96;
  opacity: 1;
}
.form-control::-ms-input-placeholder {
  color: #868e96;
  opacity: 1;
}
.form-control::placeholder {
  color: #868e96;
  opacity: 1;
}
.form-control:disabled, .form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}
select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 2px);
}
select.form-control:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}
.form-control-file,
.form-control-range {
  display: block;
}
.col-form-legend {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0;
  font-size: 1rem;
}
.form-control-plaintext {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0;
  line-height: 1.25;
  background-color: transparent;
  border: solid transparent;
  border-width: 1px 0;
}
.form-group {
  margin-bottom: 1rem;
}
.form-text {
  display: block;
  margin-top: .25rem;
}
.form-check {
  position: relative;
  display: block;
  margin-bottom: .5rem;
}
.form-check.disabled .form-check-label {
  color: #868e96;
}
.form-check-label {
  padding-left: 1.25rem;
  margin-bottom: 0;
}
.form-check-input {
  position: absolute;
  margin-top: .25rem;
  margin-left: -1.25rem;
}
.form-check-input:only-child {
  position: static;
}
.form-check-inline {
  display: inline-block;
  margin-right: .25rems;
}
.form-check-inline + .form-check-inline {
  margin-left: .75rem;
}
.form-check-inline .form-check-label {
  vertical-align: middle;
}
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.form-inline .form-check {
  width: 100%;
}
.form-inline label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}
.form-inline .form-group {
  display: flex;
  flex: 0 0 auto;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: 0;
}
.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}
.form-inline .form-control-plaintext {
  display: inline-block;
}
.form-inline .input-group {
  width: auto;
}
.form-inline .form-control-label {
  margin-bottom: 0;
  vertical-align: middle;
}
.form-inline .form-check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  margin-top: 0;
  margin-bottom: 0;
}
.form-inline .form-check-label {
  padding-left: 0;
}
.form-inline .form-check-input {
  position: relative;
  margin-top: 0;
  margin-right: .25rem;
  margin-left: 0;
}
.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.input-group-addon,
.input-group-btn {
  vertical-align: middle;
  white-space: nowrap;
}
.input-group-addon {
  padding: 0.5rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.25;
  color: #495057;
  text-align: center;
  background-color: #e9ecef;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
.input-group-addon input[type="radio"],
.input-group-addon input[type="checkbox"] {
  margin-top: 0;
}
.input-group .form-control:not(:last-child),
.input-group-addon:not(:last-child),
.input-group-btn:not(:last-child) > .btn,
.input-group-btn:not(:last-child) > .btn-group > .btn,
.input-group-btn:not(:last-child) > .dropdown-toggle,
.input-group-btn:not(:first-child) > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:not(:first-child) > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group-addon:not(:last-child) {
  border-right: 0;
}
.input-group .form-control:not(:first-child),
.input-group-addon:not(:first-child),
.input-group-btn:not(:first-child) > .btn,
.input-group-btn:not(:first-child) > .btn-group > .btn,
.input-group-btn:not(:first-child) > .dropdown-toggle,
.input-group-btn:not(:last-child) > .btn:not(:first-child),
.input-group-btn:not(:last-child) > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.form-control + .input-group-addon:not(:first-child) {
  border-left: 0;
}
/* ==================================================
   ボタン
 ================================================== */
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: .25rem;
  cursor: pointer;
  transition: all .15s ease-in-out;
}
.btn:focus, .btn:hover {
  text-decoration: none;
}
.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}
.btn.disabled, .btn:disabled {
  opacity: .65;
  box-shadow: none;
}
.btn:active, .btn.active {
  background-image: none;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
/* ==================================================
   モーダル
 ================================================== */
.modal-open {
  overflow: hidden;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
  pointer-events: none;
}
.modal.fade .modal-dialog {
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.modal.show .modal-dialog {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
@media (min-width: 768px) {
  .modal-dialog {
    max-width: 600px;
    margin: 1.75rem auto;
  }
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: .3rem;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  outline: 0;
}
@media (min-width: 768px) {
  .modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop.show {
  opacity: .5;
}
.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #dee2e6;
}
.modal-header .close {
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
}
.modal-title {
  margin-bottom: 0;
}
.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}
.modal-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #dee2e6;
}
.modal-footer > * {
  margin: calc(.5rem / 2);
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
/* ==================================================
   page-example.html
 ================================================== */
.wrap {
  width: 100%;
  padding: 0 14px;
}
@media (min-width: 980px) {
  .wrap {
    width: 980px;
    margin: 0 auto;
  }
}
/* --------------------------------------------------
   メニュー全体
 -------------------------------------------------- */
.menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 75px;
  background-color: #efefef;
  z-index: 10;
}
@media (min-width: 768px) {
  .menu {
    height: auto;
    background-color: #fff;
  }
}
/* --------------------------------------------------
   メニューボタン
 -------------------------------------------------- */
.menu-btn {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 52px;
  height: 52px;
  padding: 0;
  background-color: #fff;
  border: none;
}
.menu-btn:hover {
  cursor: pointer;
}
@media (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}
.menu-btn_line {
  display: inline-block;
  position: absolute;
  left: 5px;
  width: 40px;
  height: 2px;
  background-color: #0275d8;
}
.menu-btn_line:nth-child(1) {
  top: 16px;
}
.menu-btn_line:nth-child(2) {
  top: 25px;
}
.menu-btn_line:nth-child(3) {
  top: 34px;
}
/* --------------------------------------------------
  メインナビゲーション
-------------------------------------------------- */
.gnav[aria-hidden] {
  transition: visibility .2s;
}
.gnav[aria-hidden] .gnav-backdrop {
  transition: opacity .2s;
}
.gnav[aria-hidden] ul {
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}
.gnav[aria-hidden="false"] {
  visibility: visible;
}
.gnav[aria-hidden="false"] .gnav-backdrop {
  opacity: 1;
}
.gnav[aria-hidden="false"] ul {
  -webkit-transform: translate(calc(100% - 72%), 0);
          transform: translate(calc(100% - 72%), 0);
}
@media (min-width: 768px) {
  .gnav[aria-hidden="false"] ul {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
.gnav[aria-hidden="true"] {
  visibility: hidden;
  height: 1px;
}
@media (min-width: 768px) {
  .gnav[aria-hidden="true"] {
    visibility: visible;
    height: auto;
  }
}
.gnav[aria-hidden="true"] .gnav-backdrop {
  opacity: 0;
}
.gnav[aria-hidden="true"] ul {
  -webkit-transform: translate(calc(100% + 28%), 0);
          transform: translate(calc(100% + 28%), 0);
}
@media (min-width: 768px) {
  .gnav[aria-hidden="true"] ul {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
.gnav ul {
  padding-left: 0;
  list-style: none;
  margin: 0;
  position: relative;
  top: 76px;
  width: 78%;
  max-height: calc(100vh - 140px);
  background-color: #3d3d3d;
  color: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
@media (min-width: 768px) {
  .gnav ul {
    display: flex;
    position: static;
    width: auto;
    max-height: none;
    background-color: transparent;
    color: #000;
    overflow: visible;
  }
}
.gnav li {
  border-bottom: 1px solid #fff;
}
@media (min-width: 768px) {
  .gnav li {
    flex: 1 0 20%;
    text-align: center;
    border-bottom: none;
  }
}
.gnav a {
  display: block;
  padding: 14px 10px;
  background-color: #0275d8;
  color: #fff;
}
@media (min-width: 768px) {
  .gnav a {
    padding: 10px 0;
    background-color: transparent;
    color: #0275d8;
  }
}
.gnav a:hover, .gnav a:focus {
  background-color: #5bc0de;
  text-decoration: none;
}
@media (min-width: 768px) {
  .gnav a:hover, .gnav a:focus {
    background-color: transparent;
    text-decoration: underline;
  }
}
/* --------------------------------------------------
   バックドロップ
 -------------------------------------------------- */
.gnav-backdrop {
  position: fixed;
  top: 76px;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}
@media (min-width: 768px) {
  .gnav-backdrop {
    display: none;
  }
}
/* --------------------------------------------------
   メイン
 -------------------------------------------------- */
.page-example .main {
  margin: 70px 0 0 0;
}
/* --------------------------------------------------
   タブパネル
 -------------------------------------------------- */
.tab-content > .tab-content_pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
/* --------------------------------------------------
   リンク下線
 -------------------------------------------------- */
.underlink {
  position: relative;
}
.underlink:after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #0275d8;
  transition: width .3s ease-in;
}
.underlink:hover {
  text-decoration: none;
}
.underlink:hover:after {
  width: 100%;
}
/* --------------------------------------------------
   カラー currentColor
 -------------------------------------------------- */
.link-current {
  color: #6f2dbd;
}
.link-current a {
  color: currentColor;
  border: 4px solid;
  transition: color .5s;
}
.link-current a:hover {
  color: #0275d8;
}
/* --------------------------------------------------
   コインアルバム
 -------------------------------------------------- */
.coin-album {
  padding-left: 0;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 24px 1fr;
  grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: 1fr 24px 1fr 24px 1fr 24px 1fr;
  grid-template-columns: repeat(4, 1fr);
  margin: 0;
  padding: 0;
  gap: 24px;
}
.coin-album > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.coin-album > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.coin-album > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.coin-album > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}
.coin-album > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.coin-album > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.coin-album > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.coin-album > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}
.coin-album img {
  max-width: 100%;
  height: auto;
}
.coin-album02 {
  padding-left: 0;
  list-style: none;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, auto));
  gap: 10px;
}
.coin-album02 img {
  max-width: 100%;
  height: auto;
}
/* --------------------------------------------------
   ボタン
 -------------------------------------------------- */
.btn-effect {
  display: inline-block;
  position: relative;
  width: 230px;
  height: 100px;
  padding: 0;
  background-color: #a17923;
  border: none;
  border-radius: 4px;
  overflow: hidden;
}
.btn-effect:hover .btn-effect_effect, .btn-effect:active .btn-effect_effect {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.btn-effect_effect {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
}
.btn-effect_txt {
  color: #fff;
  font-size: 2rem;
}
/* --------------------------------------------------
   コインアルバム getJSON
 -------------------------------------------------- */
.is-album {
  padding-left: 0;
  list-style: none;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, auto));
  gap: 20px;
}
.is-album img {
  max-width: 100%;
  height: auto;
}
/* --------------------------------------------------
   背景イメージホバー拡大
 -------------------------------------------------- */
.bg-img-hover {
  display: block;
  width: 300px;
}
.bg-img-hover:hover .bg-img-hover_img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.bg-img-hover_img {
  margin: 0;
  width: 300px;
  height: 218px;
  overflow: hidden;
}
.bg-img-hover_img img {
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}
.bg-img-hover_txt {
  margin: 4px 0 0 0;
}
/* --------------------------------------------------
   スクロールフェードイン
 -------------------------------------------------- */
.scroll-fade-in {
  padding-left: 0;
  list-style: none;
}
.scroll-fade-in li {
  padding: 20px 0;
}
.scroll-fade-in img {
  max-width: 100%;
  height: auto;
}
.scroll-fade-in_reveal01,
.scroll-fade-in_reveal02 {
  opacity: 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  transition: all .5s ease-in-out;
}
.scroll-fade-in_reveal01.visible,
.scroll-fade-in_reveal02.visible {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}
/* --------------------------------------------------
   flexbox要素並べ
 -------------------------------------------------- */
.eleflexs {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 -1em;
  border: 1px solid grey;
}
.eleflexs img {
  max-width: 100%;
  height: auto;
}
.eleflexs-item {
  flex: 0 0 auto;
  width: 25%;
  margin: 0 0 0 1em;
}
/* --------------------------------------------------
   アコーディオン
 -------------------------------------------------- */
.acc_cont {
  display: none;
}
.acc_cont img {
  width: 290px;
  height: auto;
}
/* --------------------------------------------------
   ページトップへ戻る
 -------------------------------------------------- */
.pagetop {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
}
/* --------------------------------------------------
   角丸マウスホバー
 -------------------------------------------------- */
.border {
  position: relative;
  width: 200px;
  overflow: hidden;
  border-radius: 10px;
  z-index: 2;
}
.border img {
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}
.border:hover {
  cursor: pointer;
}
.border:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
/* --------------------------------------------------
   斜めベタ背景
 -------------------------------------------------- */
.diagonal {
  height: 100px;
  background: linear-gradient(175deg, #A663CC, #A663CC 55%, #6F2DBD calc(55% + 1px), #6F2DBD 100%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
/* --------------------------------------------------
   2つのリンク 離れた箇所と連携
 -------------------------------------------------- */
.two-link {
  position: relative;
  padding: 0 400px 0 0;
}
.two-link p {
  margin: 0;
}
.two-link_link01 {
  color: #a663cc;
}
.two-link_link01:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 40px;
  width: 100px;
  height: 100px;
  background-color: currentColor;
  opacity: .85;
  transition: opacity .5s, -webkit-transform .5s;
  transition: transform .5s, opacity .5s;
  transition: transform .5s, opacity .5s, -webkit-transform .5s;
}
.two-link_link01:hover:after {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  opacity: 1;
}
.two-link_link02 {
  color: #6f2dbd;
}
.two-link_link02:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 40px;
  right: 100px;
  width: 100px;
  height: 100px;
  background-color: currentColor;
  opacity: .85;
  transition: opacity .5s, -webkit-transform .5s;
  transition: transform .5s, opacity .5s;
  transition: transform .5s, opacity .5s, -webkit-transform .5s;
}
.two-link_link02:hover:after {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  opacity: 1;
}
/* --------------------------------------------------
   カードリンク拡張領域
 -------------------------------------------------- */
@media (min-width: 768px) {
  .card {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 980px) {
  .card {
    justify-content: flex-start;
  }
}
.card_item01 {
  position: relative;
}
@media (min-width: 768px) {
  .card_item01 {
    flex: 0 1 45%;
  }
}
@media (min-width: 980px) {
  .card_item01 {
    flex: 0 1 310px;
  }
}
.card_item02 {
  display: block;
  position: relative;
  color: #000;
}
@media (min-width: 768px) {
  .card_item02 {
    flex: 0 1 45%;
  }
}
@media (min-width: 980px) {
  .card_item02 {
    flex: 0 1 310px;
    margin: 0 0 0 20px;
  }
}
.card_item02:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity .5s ease-out;
}
.card_item02:hover {
  color: #000;
  text-decoration: none;
}
.card_item02:hover:after {
  background-color: khaki;
  opacity: .2;
}
.card_fig {
  margin: 0;
  text-align: center;
}
.card_fig img {
  max-width: 310px;
  height: auto;
}
.card_more {
  display: block;
  width: 2em;
  margin: 0 0 0 auto;
}
.card_more:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity .5s ease-out;
}
.card_more:hover:after {
  background-color: khaki;
  opacity: .2;
}
/* --------------------------------------------------
   リンクアイコン
 -------------------------------------------------- */
.link-icon {
  margin: 0;
  padding: 0;
}
.link-icon li {
  padding-left: 0;
  list-style: none;
  margin: 4px 0 0 0;
  padding: 0 0 0 28px;
  text-indent: -28px;
}
.link-icon a[href$=".pdf"]::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: -18px 4px -6px 0;
  background-image: url(/img/pdf.svg);
  background-repeat: no-repeat;
  background-size: 24px 24px;
}
/* --------------------------------------------------
   罫線
 -------------------------------------------------- */
.ruled-line {
  display: flex;
  align-items: center;
}
.ruled-line::before, .ruled-line::after {
  content: '';
  height: 2px;
  background-color: #c5c5c5;
  flex: 1 0 auto;
}
.ruled-line::before {
  margin: 0 8px 0 0;
}
.ruled-line::after {
  margin: 0 0 0 8px;
}
/* --------------------------------------------------
   モーダル target擬似クラス使用
 -------------------------------------------------- */
#modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1050;
}
#modal:not(:target) {
  opacity: 0;
  visibility: hidden;
}
#modal:target {
  opacity: 1;
  visibility: visible;
}
.modal_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal_content {
  position: relative;
  width: 70%;
  background-color: #fff;
  padding: 20px;
}
.modal-scroll-stop {
  overflow: hidden;
  height: 100%;
}
/* --------------------------------------------------
   次項目オープンクローズ
 -------------------------------------------------- */
#next-open:not(:target) {
  display: none;
}
#next-open:target {
  display: block;
}
/* ==================================================
   page-example2.html （アニメーション/Grid 確認用）
 ================================================== */
/* --------------------------------------------------
   Grid magazine
 -------------------------------------------------- */
@media (min-width: 768px) {
  .magazine {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .magazine > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .magazine > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .magazine > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .magazine > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
  .magazine > *:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .magazine > *:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .magazine > *:nth-child(7) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .magazine > *:nth-child(8) {
    -ms-grid-row: 2;
    -ms-grid-column: 4;
  }
  .magazine > *:nth-child(9) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .magazine > *:nth-child(10) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .magazine > *:nth-child(11) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .magazine > *:nth-child(12) {
    -ms-grid-row: 3;
    -ms-grid-column: 4;
  }
}
.magazine-item {
  margin: 0 0 40px 0;
}
@media (min-width: 768px) {
  .magazine-item {
    margin: 0 5px 40px 5px;
  }
}
.magazine-today {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}
.magazine-past01 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}
.magazine-past02 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}
.magazine-past03 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}
.magazine-past04 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}
.magazine-pickup {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}
.magazine-today__img,
.magazine-item__img,
.magazine-pickup__img {
  margin: 0 0 6px 0;
}
.magazine-today__img img,
.magazine-item__img img,
.magazine-pickup__img img {
  max-width: 100%;
  height: auto;
}
.magazine-today__title,
.magazine-item__title,
.magazine-pickup__title {
  margin: 0 0 4px 0;
}
/* --------------------------------------------------
   Grid pic
 -------------------------------------------------- */
.pic {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto 10px auto 10px auto;
  grid-template-rows: repeat(3, auto);
  gap: 10px;
}
.pic > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.pic > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.pic > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.pic > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.pic > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.pic > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.pic > *:nth-child(7) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.pic > *:nth-child(8) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
.pic > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}
.pic-item {
  margin: 0;
}
.pic img {
  max-width: 100%;
  height: auto;
}
/* --------------------------------------------------
   Grid layout
 -------------------------------------------------- */
.layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 10px minmax(100px, 1fr) 10px 2fr;
  -ms-grid-columns: 1fr 10px 100px 10px 1fr;
      grid-template: "head head head" 1fr "nav main main" minmax(100px, 1fr) "foot foot foot" 2fr/1fr 100px 1fr;
  gap: 10px;
  border: 1px solid #333;
}
.layout-head {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: head;
  background-color: #cbe;
}
.layout-nav {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: nav;
  background-color: #cb0;
}
.layout-main {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: main;
  background-color: #cbc;
}
.layout-foot {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: foot;
  background-color: #cba;
}
/* --------------------------------------------------
   個別ページフアニメーション
 -------------------------------------------------- */
@-webkit-keyframes fade-in-load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in-load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.magazine-today__img,
.magazine-item__img,
.magazine-pickup__img {
  -webkit-animation: fade-in-load 3s ease-in-out;
          animation: fade-in-load 3s ease-in-out;
}
/* ==================================================
   ユーティリティ
 ================================================== */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  border: 0;
}
.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
  -webkit-clip-path: none;
          clip-path: none;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}
.tac {
  text-align: center;
}
.img-responsive {
  max-width: 100%;
  height: auto;
}
.img-widemax {
  width: 100%;
  height: auto;
}
@-webkit-keyframes fadein-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 767px) {
  .hidden-sp {
    display: none;
  }
}
@media (max-width: 767px) {
  .visible-sp {
    display: block;
  }
}
@media (max-width: 767px) {
  .visible-sp-inline {
    display: inline;
  }
}
@media (min-width: 768px) {
  .hidden-tab {
    display: none;
  }
}
@media (min-width: 768px) {
  .visible-tab {
    display: block;
  }
}
@media (min-width: 768px) {
  .visible-tab-inline {
    display: inline;
  }
}
@media (min-width: 980px) {
  .hidden-pc {
    display: none;
  }
}
@media (min-width: 980px) {
  .visible-pc {
    display: block;
  }
}
@media (min-width: 980px) {
  .visible-pc-inline {
    display: inline;
  }
}
.bdtnone {
  border-top: none !important;
}
.bdrnone {
  border-right: none !important;
}
.bdbnone {
  border-bottom: none !important;
}
.bdlnone {
  border-left: none !important;
}
.mt0 {
  margin-top: 0 !important;
}
.mt05 {
  margin-top: 5px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mt15 {
  margin-top: 15px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mt25 {
  margin-top: 25px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.mt35 {
  margin-top: 35px !important;
}
.mt40 {
  margin-top: 40px !important;
}
.mt1rem {
  margin-top: 1rem !important;
}
.mt2rem {
  margin-top: 2rem !important;
}
.mb0 {
  margin-bottom: 0 !important;
}
.mb05 {
  margin-bottom: 5px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mb15 {
  margin-bottom: 15px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mb25 {
  margin-bottom: 25px !important;
}
.mb30 {
  margin-bottom: 30px !important;
}
.mb35 {
  margin-bottom: 35px !important;
}
.mb40 {
  margin-bottom: 40px !important;
}
.mb1rem {
  margin-bottom: 1rem !important;
}
.mb2rem {
  margin-bottom: 2rem !important;
}
.mr0 {
  margin-right: 0 !important;
}
.mr05 {
  margin-right: 5px !important;
}
.mr10 {
  margin-right: 10px !important;
}
.mr15 {
  margin-right: 15px !important;
}
.mr20 {
  margin-right: 20px !important;
}
.mr25 {
  margin-right: 25px !important;
}
.mr30 {
  margin-right: 30px !important;
}
.mr35 {
  margin-right: 35px !important;
}
.mr40 {
  margin-right: 40px !important;
}
.mr1rem {
  margin-right: 1rem !important;
}
.mr2rem {
  margin-right: 2rem !important;
}
.ml0 {
  margin-left: 0 !important;
}
.ml05 {
  margin-left: 5px !important;
}
.ml10 {
  margin-left: 10px !important;
}
.ml15 {
  margin-left: 15px !important;
}
.ml20 {
  margin-left: 25px !important;
}
.ml25 {
  margin-left: 25px !important;
}
.ml30 {
  margin-left: 30px !important;
}
.ml35 {
  margin-left: 35px !important;
}
.ml40 {
  margin-left: 40px !important;
}
.ml1rem {
  margin-left: 1rem !important;
}
.ml2rem {
  margin-left: 2rem !important;
}

/*# sourceMappingURL=style.css.map */
