$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Noto Sans Japanese", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
$font-family-test: "Noto Sans Japanese", sans-serif;
$font-family-flame: kazuraki-sp2n, serif;
$font-family-mincho: "HiraMinProN", 游明朝, "Yu Mincho", YuMincho, "Sawarabi Mincho", serif;
$font-family-base: $font-family-test;
// $font-size-base: 62.5%; // 10px
$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$line-height-base: 1.5;
$body-color: #000;
$body-bg: #fff;
$link-color: #0275d8;
$link-hover-color: #5bc0de;

$enable-pointer-cursor-for-buttons: true;

$breakpoint-sp: 767px;
$breakpoint-tablet: 768px;
$breakpoint-pc: 980px;
$width-pc: $breakpoint-pc;

$zindex-bgcont: 2;
$zindex-menu: 10;
$zindex-modal-backdrop: 1040;
$zindex-modal: 1050;
