/* ==================================================
   page-example2.html （アニメーション/Grid 確認用）
 ================================================== */
/* --------------------------------------------------
   Grid magazine
 -------------------------------------------------- */
.magazine { // grid: 'autoplace'にするとIE11で崩れる
	@include media-tab {
		display: grid;
		grid-template-columns: repeat(4,1fr);
		grid-template-rows: auto auto auto;
//		gap: 10px;
	}
}
.magazine-item {
	margin: 0 0 40px 0;
	@include media-tab {
		margin: 0 5px 40px 5px;
	}
}
.magazine-today {
	grid-column: 1 / 3;
	grid-row: 1 / 3;
}
.magazine-past01 {
	grid-column: 3 / 4;
	grid-row: 1 / 2;
}
.magazine-past02 {
	grid-column: 4 / 5;
	grid-row: 1 / 2;
}
.magazine-past03 {
	grid-column: 1 / 2;
	grid-row: 3 / 4;
}
.magazine-past04 {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
}
.magazine-pickup {
	grid-column: 3 / 5;
	grid-row: 2 / 3;
}
.magazine-today__img,
.magazine-item__img,
.magazine-pickup__img {
	margin: 0 0 6px 0;
	img {
		max-width: 100%;
		height: auto;
	}
}
.magazine-today__title,
.magazine-item__title,
.magazine-pickup__title {
	margin: 0 0 4px 0;
}
/* --------------------------------------------------
   Grid pic
 -------------------------------------------------- */
.pic { // grid: 'autoplace'にすればIE11でも有効になる gapも有効になる
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: repeat(3,auto);
	gap: 10px;
}
.pic-item {
	margin: 0;
}
.pic img {
	max-width: 100%;
	height: auto;
}
/* --------------------------------------------------
   Grid layout
 -------------------------------------------------- */
.layout {
	display: grid;
	grid-template:
	"head head head" 1fr
	"nav main main" minmax(100px,1fr)
	"foot foot foot" 2fr /
	1fr 100px 1fr;
	gap: 10px;
	border: 1px solid #333;
}
.layout-head {
	grid-area: head;
	background-color: #cbe;
}
.layout-nav {
	grid-area: nav;
	background-color: #cb0;
}
.layout-main {
	grid-area: main;
	background-color: #cbc;
}
.layout-foot {
	grid-area: foot;
	background-color: #cba;
}


/* --------------------------------------------------
   個別ページフアニメーション
 -------------------------------------------------- */
@keyframes fade-in-load {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}
.magazine-today__img,
.magazine-item__img,
.magazine-pickup__img {
//	animation-name: fade-in-load;
//	animation-duration: 3s;
//	animation-timing-function: ease-in-out;
	animation: fade-in-load 3s ease-in-out
}
